GameBoyEmulator/GameBoyEmulator/GLFW/include/*.h linguistic-language=C++
GameBoyEmulator/GameBoyEmulator/GLFW/include/*.hpp linguistic-language=C++
GameBoyEmulator/GameBoyEmulator/GLFW/include/*.c linguistic-language=C++
GameBoyEmulator/GameBoyEmulator/GLFW/include/*.cpp linguistic-language=C++