# Ignore Bios and Games
*.gb
*.GB
*.bin
*.jfm

# Ignore .vs files
*.icph

# Ignore folder
/Bios_Games
/SDL_version
/GlfwOpengl_version

# Ignore GLFW libs doc
/GameBoyEmulator/GameBoyEmulator/GLFW/docs