/GameBoyEmulator/GameBoyEmulator/*.h linguistic-language=Cpp
/GameBoyEmulator/GameBoyEmulator/*.hpp linguistic-language=Cpp
/GameBoyEmulator/GameBoyEmulator/*.c linguistic-language=Cpp
/GameBoyEmulator/GameBoyEmulator/*.cpp linguistic-language=Cpp